<a href="https://colab.research.google.com/github/alexmplastow/IE534-CS547-Emmerson/blob/main/Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

https://www.cdc.gov/nchs/nvss/vsrr/drug-overdose-data.htmmm

In [ ]:
!wget -c https://data.cdc.gov/api/views/xkb8-kh2a/rows.csv?accessType=DOWNLOAD&bom=true&format=true -O Drug_Overdose_Deaths.csv #name did not changed...

/bin/bash: -O: command not found
--2022-12-09 03:44:07--  https://data.cdc.gov/api/views/xkb8-kh2a/rows.csv?accessType=DOWNLOAD
Resolving data.cdc.gov (data.cdc.gov)... 52.206.140.205, 52.206.68.26, 52.206.140.199
Connecting to data.cdc.gov (data.cdc.gov)|52.206.140.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=DOWNLOAD’

rows.csv?accessType     [      <=>           ]   9.20M  5.53MB/s    in 1.7s

2022-12-09 03:44:10 (5.53 MB/s) - ‘rows.csv?accessType=DOWNLOAD’ saved [9651249]

In [ ]:
!ls -alh

total 9.3M
drwxr-xr-x 1 root root 4.0K Dec  9 03:44  .
drwxr-xr-x 1 root root 4.0K Dec  9 03:43  ..
drwxr-xr-x 4 root root 4.0K Dec  7 14:40  .config
-rw-r--r-- 1 root root 9.3M Nov 16 14:52 'rows.csv?accessType=DOWNLOAD'
drwxr-xr-x 1 root root 4.0K Dec  7 14:41  sample_data

In [ ]:
!head 'rows.csv?accessType=DOWNLOAD'

State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
AK,2015,April,12 month-ending,Percent with drugs specified,88.0952381,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.,**,
AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.  Data not shown due to low data quality.,**,
AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.  Data not shown due to low data quality.,**,
AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)",,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.  Data not shown due to low data quality.,**,
AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.,**,126
AK,2015,April,12 month-ending,Methadone (T40.3),,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.  Data suppressed (<10).  Data not shown due to low data quality.,**,
AK,2015,April,12 month-ending,Number of Deaths,4133,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.,**,
AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.  Data not shown due to low data quality.,**,
AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)",,100,0,Alaska,Numbers may differ from published reports using final data. See Technical Notes.  Data not shown due to low data quality.,**,

In [ ]:
df = pd.read_csv('rows.csv?accessType=DOWNLOAD')

In [ ]:
#The command is "pandas.read_pickle(filepath)" in case anyone wants
  #to retrieve the data
df.to_pickle('/home/drugReaction.pkl')

In [ ]:
df

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Percent with drugs specified,88.095238,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126.000000,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...
53185,YC,2022,May,12 month-ending,Percent with drugs specified,99.538680,100,0.370425,New York City,Underreported due to incomplete data.,*,NaN
53186,YC,2022,May,12 month-ending,Cocaine (T40.5),1321.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,1392.0
53187,YC,2022,May,12 month-ending,Number of Drug Overdose Deaths,2818.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,2940.0
53188,YC,2022,May,12 month-ending,Natural & semi-synthetic opioids (T40.2),468.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,488.0
53189,YC,2022,May,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",2225.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,2336.0

In [ ]:
df.columns

Index(['State', 'Year', 'Month', 'Period', 'Indicator', 'Data Value',
       'Percent Complete', 'Percent Pending Investigation', 'State Name',
       'Footnote', 'Footnote Symbol', 'Predicted Value'],
      dtype='object')

In [ ]:
df['State'].value_counts()

AK    1080
MS    1080
NH    1080
NJ    1080
NM    1080
NV    1080
NY    1080
OH    1080
OK    1080
OR    1080
RI    1080
SC    1080
SD    1080
TN    1080
TX    1080
US    1080
UT    1080
VA    1080
VT    1080
WA    1080
WI    1080
WV    1080
WY    1080
NC    1080
MT    1080
MO    1080
ID    1080
AR    1080
AZ    1080
CA    1080
CO    1080
CT    1080
DC    1080
DE    1080
FL    1080
GA    1080
HI    1080
IA    1080
IL    1080
IN    1080
KS    1080
KY    1080
MA    1080
MD    1080
ME    1080
MI    1080
MN    1080
YC    1080
AL     270
PA     270
LA     270
NE     270
ND     270
Name: State, dtype: int64

In [ ]:
df['State'].describe()

count     53190
unique       53
top          AK
freq       1080
Name: State, dtype: object

In [ ]:
df['Indicator'].value_counts() #how many type of drugs?

Percent with drugs specified                                                   4770
Number of Drug Overdose Deaths                                                 4770
Number of Deaths                                                               4770
Opioids (T40.0-T40.4,T40.6)                                                    4320
Synthetic opioids, excl. methadone (T40.4)                                     4320
Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)               4320
Methadone (T40.3)                                                              4320
Psychostimulants with abuse potential (T43.6)                                  4320
Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)    4320
Heroin (T40.1)                                                                 4320
Natural & semi-synthetic opioids (T40.2)                                       4320
Cocaine (T40.5)                                                                4320
Name: Indicator, dtype: int64

In [ ]:
df['Data Value'].describe()

count    4.318900e+04
mean     1.340984e+04
std      1.377870e+05
min      1.000000e+01
25%      9.585492e+01
50%      3.100000e+02
75%      1.202000e+03
max      3.538073e+06
Name: Data Value, dtype: float64

In [ ]:
#Why there is a 'Predicted Value'?

In [ ]:
#Data Value should be the Drug Over Dose Death number corresponding to the Indicator
df['Data Value'].isna().sum() #should drop Nan first?

10001

In [ ]:
df['Predicted Value'].isna().sum()

19324

In [ ]:
df

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Percent with drugs specified,88.095238,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126.000000,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...
53185,YC,2022,May,12 month-ending,Percent with drugs specified,99.538680,100,0.370425,New York City,Underreported due to incomplete data.,*,NaN
53186,YC,2022,May,12 month-ending,Cocaine (T40.5),1321.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,1392.0
53187,YC,2022,May,12 month-ending,Number of Drug Overdose Deaths,2818.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,2940.0
53188,YC,2022,May,12 month-ending,Natural & semi-synthetic opioids (T40.2),468.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,488.0
53189,YC,2022,May,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",2225.000000,100,0.370425,New York City,Underreported due to incomplete data.,*,2336.0